.container{
    width: 1280px;
    height: 790px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    }
.text-btn{
    background: lightgrey;
    font-size: 16px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    padding-top: 30px;
    text-align: center;
    margin-top: -3px;
   }
.nav-menu-link {
    color: #16a085;
    font-size: 18px;
    font-weight: 900;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    line-height: 80px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}
.nav-menu-link:hover{
    color: yellow;
}
.btn{
    margin-top:30px;
    margin-bottom: 70px;
    background-color:  #16a085;
    font-family: Roboto, sans-serif;
    color:  #ffffff;
    border-radius: 3px;
    width: 192px;
    height: 51px;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    line-height: 51px;
}

.text {
    margin-left: 120px;
    margin-right: 120px;
    line-height: 26px;
}